



FirstName  <input [(ngModel)]="address.firstName">
lastName  <input [(ngModel)]="address.lastName">
phoneno  <input [(ngModel)]="address.phoneno">
streetAddress  <input [(ngModel)]="address.streetAddress">
townorcity  <input [(ngModel)]="address.townorcity">
country  <input [(ngModel)]="address.country">
email  <input [(ngModel)]="address.email">
landmark  <input [(ngModel)]="address.landmark">
postcodezip  <input [(ngModel)]="address.postcodezip">
state  <input [(ngModel)]="address.state">
    
    


<button (click)="sumbit()">submit</button>
  