<p>signup works!</p>




<div *ngIf="!state">
    Enter your phone number for otp verification
    <input  [(ngModel)]="signup.number">
    <button (click)="requestOtp()">requestOtp</button>
</div>

<div *ngIf="state">


    <input disabled  [(ngModel)]="signup.number">
    Enter Your Otp    <input   [(ngModel)]="signup.otp"> <br>
firstName    <input   [(ngModel)]="signup.firstName"> <br>
 Enter YOur email   <input   [(ngModel)]="signup.email">
 Enter Your your password   <input   [(ngModel)]="signup.password" type="password">
  

     

    <button (click)="submit()">signup</button>
</div>

<!-- {
    "email": "string",
    "firstName": "string",
    "number": "string",
    "otp": "string",
    "password": "string",
    "role": "string"
  } -->